*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 600px;
    height: 600px;
    display: grid;
    /* grid-template-rows: 2fr 1fr 2gr; */
    grid-template-columns: 10% 36% 30.5% 23.5%;
    grid-template-rows: 39.5% 24% 32.5%;
}
#redOne{
    background-color: red;
}
div:nth-of-type(5){
    background-color: yellow;
}
div:nth-of-type(7){
    background-color: gray;
}

#redOne, div:nth-of-type(3){
    grid-column: span 2;
    border-right: 7px solid black;
}
div:nth-of-type(2), div:nth-of-type(4){
    grid-column: span 2;
}
div:nth-of-type(3), div:nth-of-type(4),div:nth-of-type(5),div:nth-of-type(6),div:nth-of-type(7),div:nth-of-type(8){
    border-top: 14px solid black;
}
div:nth-of-type(5),div:nth-of-type(6){
    border-right: 7px solid black;
    grid-row: span 2;
}
div:nth-of-type(7){
    border-bottom: 14px solid black;
}
div:nth-of-type(8){
border-left: 7px solid black;
grid-row:  span 2;
}
