@import 'palette.scss';
@mixin box-image($background-color, $border-color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $border-color;
}

main{
    padding-top: 93px;
    .main-content{
        max-width: 1170px;
        margin: auto;
    .box-wrap{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        min-height: 510px;
    }

    h1{
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 51px;
        color: $gray-4;
    }
    .box{
    width: 48.8%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $gray-1;
    border-radius: 10px;
    position: relative;
    &:nth-child(2){
        .box-icon{
            @include box-image($green-1, $green-2);
        }
    }
    &:nth-child(3){
        .box-icon{
            @include box-image($red-1, $red-2);
        }
    }

    &:nth-child(4){
        .box-icon{
            @include box-image($blue-1, $blue-2);
        }
    }
    &:nth-child(5){
        .box-icon{
            @include box-image($purple-1, $purple-2);
        }
    }


    &:last-of-type{
        max-width: none;
        width: 100%;
        .box-text{
            width: 85%;
        }
    }

    .krestiki{
        position: absolute;
        top: 17px;
        right: 17px;
        font-size: 12px;
        color: $gray-2;
    }
    
    .box-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: $orange-1;
        color:  $orange-2;
        font-size: 20px;
        border-radius: 50%;
        border: 7px solid $orange-2;
        margin: 42px 27px 42px 50px;

    }
    .box-text{
        width: 60%;
         min-height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4{
            font-weight: 700;
            letter-spacing: 0.3px;
            color: $gray-4;
        }
        p{
            font-size: 14px;
            line-height: 1.6;
            color: $gray-3;
        }

    }
}
}
}