  @mixin box-style($background-color, $grid-strech:1,){
    border-radius: 10px;
    background-color: $background-color;
    grid-column: span $grid-strech;
    position: relative;
  }
  @mixin box-inside($color:gold,$border-color, $width:60%){
    display: flex;
    align-items: center;
    justify-content: flex-start;
      .box-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        color: $color;
        font-size: 20px;
        border-radius: 50%;
        border: 7px solid $border-color;
        margin: 0px 27px 0px 50px;
      }
      .krestiki{
        position: absolute;
        top: 17.6px;
        right: 17px;
        font-size: 13px;
        color: $color;
      }
      .box-text{
          width: $width;
          min-height: 74px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $black-1;
          p{
              font-size: 14px;
            line-height: 1.6;
            letter-spacing: -0.07px;
            
          }
          h4{
              font-weight: 700;
              letter-spacing: 0.3px;
          }
      }
  }
main{
    padding-top: 46px;
.main-wrap{
    max-width: 1170px;
    min-height: 570px;
    margin:auto;
    h1 {
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 51px;
        letter-spacing: 0.3px;
        color: $black-1;
      }
      .main-grid{
          display: grid;
          min-height: 510px;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(3,1fr);
          grid-gap: 30px;
          
          .box-1{
            @include box-style($orange-1);
            @include box-inside($orange-2,$orange-3);
           
          }
          .box-2{
            @include box-style($green-1);
            @include box-inside($green-2,$green-3);
          }
          .box-3{
            @include box-style($red-1);
            @include box-inside($red-2,$red-3);
          }
          .box-4{
            @extend .box-1;
            background-color: $blue-1;
            .box-icon{
                border-color: $blue-3;
                color: $blue-2;
            }
          }
          .box-5{
            @include box-style($purple-1,2);
            @include box-inside($purple-2,$purple-3,81%);
          }
      }
}
}