$green-1:#A7EC2F;
$green-2:#558502;
$green-3:#7BC200;
$red-1:#FEB1A4;
$red-2:#D52E13;
$red-3:#F55C43;
$blue-1:#85EBFA;
$blue-2:#0787D4;
$blue-3:#47B4F6;
$purple-1:#AACDF6;
$purple-2:#5B568E;
$purple-3:#8781BD;
$orange-1:#FFC12D;
$orange-2:#A47503;
$orange-3:#C89210;
$black-1:#2C3E50;

