*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin box-image($background-color, $border-color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $border-color;
}

main{
    padding-top: 93px;
    .main-content{
        max-width: 1170px;
        margin: auto;
    .box-wrap{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        min-height: 510px;
    }

    h1{
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 51px;
    }
    .box{
    width: 48.8%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #E2E6E7;
    border-radius: 10px;
    position: relative;
    &:nth-child(2){
        .box-icon{
            @include box-image(#97E411, #7BC200);
        }
    }
    &:nth-child(3){
        .box-icon{
            @include box-image(#FD7761, #F55C43);
        }
    }

    &:nth-child(4){
        .box-icon{
            @include box-image(#6FD9FC, #47B4F6);
        }
    }
    &:nth-child(5){
        .box-icon{
            @include box-image(#A39CDC, #8781BD);
        }
    }


    &:last-of-type{
        max-width: none;
        width: 100%;
        .box-text{
            width: 85%;
        }
    }

    .krestiki{
        position: absolute;
        top: 17px;
        right: 17px;
        font-size: 12px;
    }
    
    .box-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: #FFC12D;
        color:  #F9B718;
        font-size: 20px;
        border-radius: 50%;
        border: 7px solid #F9B718;
        margin: 42px 27px 42px 50px;

    }
    .box-text{
        width: 60%;
         min-height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4{
            font-weight: 700;
            letter-spacing: 0.3px;
        }
        p{
            font-size: 14px;
            line-height: 1.6;
        }

    }
}
}
}